# Snowflake Settings
SNOWFLAKE_USER="YOUR_SNOWFLAKE_USERNAME"
SNOWFLAKE_PASSWORD="YOUR_SNOWFLAKE_PASSWORD"
SNOWFLAKE_ACCOUNT="YOUR_ACCOUNT_IDENTIFIER"
SNOWFLAKE_WAREHOUSE="YOUR_WAREHOUSE_NAME"
SNOWFLAKE_DATABASE="YOUR_DATABASE_NAME"
SNOWFLAKE_SCHEMA="PUBLIC"

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Settings
JWT_SECRET_KEY="GENERATE_A_32_BYTE_HEX_STRING_USING_SECRETS_TOKEN_HEX"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
